<header class="head">
    <div class=" am-topbar-fixed-top am-topbar">
        <div class=" am-container">
            <div class="am-topbar-brand app-logo">
                <a href="/">
                    书呆子的世界
                </a>
            </div>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm  am-show-sm-only"
                    data-am-collapse="{target:'#doc-topbar-collapse'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse am-fr" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class='am-active'><a href="/">首页</a></li>

                    <li><a href='/'> 精选 <span></span> </a></li>

                    <li><a href='/'> 大牛 <span></span> </a></li>

                    <li><a href='/'> 资讯 <span></span> </a></li>

                    <li><a href='/about/'> 关于 <span></span> </a></li>

                    <li><a href='/new_post'> 写博客 <span></span> </a></li>

                    <li class="search">
                        <form class="am-form" action="/search" method="post">
                            <div class="am-form-icon am-form-feedback">
                                <input name="q" type="text" class="am-form-field"  placeholder="在这里搜索..."/>

                            </div>
                        </form>
                    </li>
                    {% if session.user  %}
                    <li><a href="/user/">{{ session.user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>