<!--[if lt IE 9]>
<script src="//cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.staticfile.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="//cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/amazeui/2.2.1/js/amazeui.js"></script>
<!--<![endif]-->