{%- if recent_posts -%}
    <h2>Recent articles</h2>
    <ul class="am-list">
    {% for post in recent_posts %}
        <li><a href="{{ url_for('show_post', id=post['id']) }}">{{ post['title'] | safe }}</a></li>
    {% endfor %}
    </ul>
    {%- if hot_tags -%}
    <h2>Hot tags</h2>
    <hr>
    <p>
    {% for tag in hot_tags %}
        <a href="{{ url_for('posts_by_tag', page=1, tag=tag['title']) }}" class="am-btn am-btn-secondary" style="margin-top: 20px">{{ tag['title'] }} <sup class="am-badge am-badge-success">{{ tag['count'] }}</sup></a></li>
    {% endfor %}
    </p>
    {%- endif -%}
{%- endif -%}
